@import "./styles-variables.css";
@import "./styles-mobile.css";

.nav-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* /////////////// CONTACTS /////////////// */

.address-list {
  margin: 0;
  padding-left: 0;
}

.address-text {
  font-style: normal;
  font-size: 16px;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: #434455;
  text-decoration: none;

  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
  list-style-type: none;
}

.nav-text:hover,
.nav-text:focus,
.address-text:hover,
.address-text:focus {
  color: var(--color-nav-active);
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }

  /* HEADER */

  .contact-list {
    margin: 0px;
  }

  .hero {
    max-width: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
  }

  .hero.container {
    width: 767px;
    height: 436px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 60px;
  }

  .container {
    margin: 0px;

    max-width: 768px;

    margin-left: auto;
    margin-right: auto;
  }

  .btn-container {
    margin-top: 36px;
    text-align: center;
  }

  /* NAVIGATION */

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logo-nav {
    display: flex;
  }

  .logo-top {
    margin-right: 120px;
  }

  .container.nav-bar {
    justify-content: left;
  }

  .nav-bar {
    display: flex;
    align-items: center;

    padding: 0px;
    border: none;
    padding-left: 16px;
  }

  .nav-list {
    display: flex;
    width: 261px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }

  .nav-line {
    position: relative;
  }

  .nav-text.nav-line {
    position: relative;
  }

  .nav-text.nav-line::after {
    position: absolute;
    width: 48px;
    height: 4px;
    left: 0px;
    top: 43px;
    background: #404bbf;
    border-radius: 2px;
    z-index: 1;
  }

  .nav-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    background: var(--ocean-color);
    border-radius: 2px;
    top: 44px;
  }

  .address-list {
    margin-left: 112px;
  }

  .address-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  /* ADVANTAGES */

  .container.adv {
    padding-left: 16px;
    padding-right: 16px;
  }

  .advantages-list {
    padding: 0px;
    margin-top: 96px;
    margin-bottom: 96px;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-right: 121px;
  }

  .advantages-header-text {
    text-align: left;
  }

  .advantages-text {
    margin-bottom: 72px;
    margin-right: 24px;
    width: 356px;
  }

  .advantages-text:nth-child(2) {
    margin-right: 0px;
  }

  .advantages-text:nth-child(3) {
    margin-bottom: 0px;
  }

  .advantages-text:nth-child(4) {
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* TEAM (SECTION 4) */

  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
  }

  .list-x {
    margin: 0px;
  }

  /* COSTOMERS (SECTION 5) */

  .costomers-title {
    text-align: center;
  }

  .costomers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .costomers-link {
    width: 168px;
    height: 88px;
    margin: 0px;
  }

  .costomers-item {
    width: 168px;
    height: 88px;
  }

  /* FOOTER */

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 108px;
  }

  .footer-network {
    width: 100%;
    display: flex;
    justify-content: left;
    margin-bottom: 72px;
  }

  .footer-text {
    text-align: left;
  }

  .footer-text-container {
    margin: 0px;
    width: 264px;
    margin-right: 24px;
  }

  .footer-text-container {
    width: 264px;
  }

  .logo-bottom {
    justify-content: left;
  }

  .modal-form-input-wrapper {
    width: 264px;
    height: 40px;
    margin-right: 24px;
  }

  .footer-form {
    width: 100%;
  }

  .form-button-text-footer {
    margin: 0px;
  }

  .subscribe {
    width: 453px;
    margin: 0px;
    justify-content: left;
  }

  .subscribe-form-input {
    width: 264px;
    margin-right: 24px;
  }

  .form-ppp {
    display: flex;
    flex-wrap: wrap;
  }
}
